.editAlumno{

    top: 0% !important;
    color: #3881ffb9;
    margin: 6% ;
    margin-bottom: 15px;
    right: 0%;
    padding: 0%;
    background: none;
    display: block;
//    border-radius: 10px !important;


}
.elimAlumno{
    top: 3% !important;
    color: #ff0000bd;
    margin: 4% ;
    right: 0%;

    padding: 0%;
    background: none;
    display: block;


}

h4{
    font-size: 13px;
}
h5{
    font-size: 10px;
}
h6{
    font-size: 9px;
}

ion-icon {
    font-size: 30px;
}
ion-label{
    margin-left: 2%;
}
.grid{
    margin: 0 !important;
    padding: 0%;
}
.not{
    margin: 0%;
    padding: 0%;
}

.generarPDF{
    color: #fff !important;
    background-color: #3880ff ; //3880ff fa0a66
    padding: 10px;
    width: 90%;
    border-radius: 45px;
    display: block;
    border: none;
    font-size: 55%;
    font:bold;

}