<ion-header>
  <ion-toolbar>
    <ion-title>
      Menu Alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- **** Boton para ir a ver alumnos   -->
  <button class="buttonMenu" style="color: #fa0a66;" routerLink="/tabs/tab2/ver-alumnos" routerDirection="forward">Ver Alumnos</button>
  <!-- **** Boton para crear alumnos   -->
  <button class="buttonMenu" style="color: yellow;" routerLink="/tabs/tab2/crear-alumno" routerDirection="forward">Agregar Alumno</button>
</ion-content>
