.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.buttonAlumno{
  height: 100%;

}

#name--disabled{
  opacity: 1 !important;
}
.buttonAlumno1{
  color: #17BDFA !important;
  background: none ; //3880ff fa0a66
  height: 10%;
  width: 75%;
  padding: 8px;
  border-radius: 45px;
  display: block;
  border: 2 solid #17BDFA !important;
  margin: 5%;
  font-size: 87%;
  margin-left: auto;
  margin-right: auto;
  font: bold;

}
