<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Menu
  <button ion-button full routerLink="/tabs/tab1" routerDirection="forward" class="buttonAlumno" text-center margin>Comprobantes</button>
  <button class="buttonAlumno" routerLink="/tabs/tab2/ver-alumnos" routerDirection="forward">Ver Alumnos</button>
  <button class="buttonAlumno" routerLink="/tabs/tab2/crear-alumno" routerDirection="forward">Crear Alumno</button>


</ion-content>
